@import 'reset';

$grid-width: 100vw;
$columns: 12;
$gutter-width: ($grid-width / $columns) * .3;
$column-width: ($grid-width / $columns) - $gutter-width;

* {
    box-sizing: border-box;
}

.container {
    width: $grid-width;
    padding: 20px;
    margin: auto;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: (100 / ($columns / $i)) * 1%;
        max-width: (100 / ($columns / $i)) * 1%;
    }
}

.row {
    margin: 0 0 $gutter-width 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@mixin resize($width) {
    .container {
        width: $width;
    }
}

@media screen and (min-width: 1100px) { @include resize(1100px) }
@media screen and (max-width: 1099px) { @include resize(800px) }
@media screen and (max-width: 800px ) { @include resize(100vw) }

@media screen and (max-width: 600px ){

    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            flex: 50%;
            max-width: 50%;
        }
    }

}

@media screen and ( max-width: 400px ){
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            flex: 100%;
            max-width: 100%;
        }
    }
}
