@import 'reset';

$grid-width: 100vw;
$columns: 12;
$gutter-width: ($grid-width / $columns) * .3;
$column-width: ($grid-width / $columns) - $gutter-width;

* {
    box-sizing: border-box;
}

.container {
    width: $grid-width;
    padding: 0 20px;
    margin: auto;
}

.row {
    margin: 0 0 $gutter-width 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

@mixin resize($width) {
    .container {
        width: $width;
    }
}

@mixin collapse($size){
    [class*="collapse"]{
        flex: $size;
        max-width: $size;
    }
}


@for $i from 1 through 12 {
    .col-#{$i} {
        flex: (100 / ($columns / $i)) * 1%;
        max-width: (100 / ($columns / $i)) * 1%;
    }
}

@media screen and (max-width: 999px){

    @for $i from 1 through 12 {
        .col-sm-#{$i}  {
            flex: (100 / ($columns / $i)) * 1%;
            max-width: (100 / ($columns / $i)) * 1%;
        }
    }

}

@media screen and (min-width: 1100px) { @include resize(1100px) }
@media screen and (max-width: 1099px) { @include resize(800px) }
@media screen and (max-width: 800px) { @include resize(100vw) }
@media screen and (max-width: 600px) { @include collapse(50%) }
@media screen and (max-width: 400px) { @include collapse(100%) }
